/*
========================================================================================
    BJ-SomaticVariantCalling Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/

manifest {
  name = "BJ-SomaticVariantCalling"
  description = "Pipeline performs variant calling for WGS and Exome/Targeted sequencing"
  author = "BioSkryb Genomics"
  mainScript = "main.nf"
  version = '1.0.4'
  nextflowVersion = '!>=22.10.1' // with ! prefix, stop execution if current version does not match required version.
}

/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
includeConfig './nf-bioskryb-utils/conf/wgs.config'

params{
  // GENERAL
  help = false
  organization = ""
  workspace = ""
  project = ""
  architecture = "x86" // arm, x86
  somatic_variant_caller = "tnscope" // tnscope, tnseq
  vep_cache = "s3://bioskryb-public-data/pipeline_resources/genomes/Homo_sapiens/NCBI/GRCh38/Annotation/VEP"
  
  // READ INPUTS
  reads = ""
  input_csv = ""
  is_bam = false
  is_fasterq = false
  instrument = ""
  platform = "Illumina"
  
  // SENTIEON
  variant_caller = "dnascope" // dnascope, haplotyper, all
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome = "GRCh38" // GRCh38, GRCh37 
  mode = "wgs" // wgs, exome
  exome_panel = "xGen Exome Hyb Panel v2" // "xGen Exome Hyb Panel v2" aka IDT, "TruSight One", "TWIST"
  dnascope_model_selection = "sentieon" // sentieon, bioskryb129
  pcrfree = false
  ploidy = 2

  reference           = genomes[ params.genome ][ 'reference' ]
  dbsnp               = genomes[ params.genome ][ 'dbsnp' ]
  dbsnp_index         = genomes[ params.genome ][ 'dbsnp_index' ]
  mills               = genomes[ params.genome ][ 'mills' ]
  mills_index         = genomes[ params.genome ][ 'mills_index' ]
  onekg               = genomes[ params.genome ][ 'onekg' ]
  onekg_index         = genomes[ params.genome ][ 'onekg_index' ]
  base_metrics_intervals = genomes[ params.genome ][ 'base_metrics_intervals' ]
  wgs_or_target_intervals = genomes[ params.genome ][ 'wgs_or_target_intervals' ]
  roi_intervals       = genomes[ params.genome ][ 'roi_intervals' ]
  refseq              = genomes[ params.genome ][ 'refseq' ]
  dnascope_model      = genomes [ params.genome ] [ params.platform ] [ params.dnascope_model_selection ] [ params.mode ] [ 'dnascope_model' ]

  
  // SNPEFF
  hgvs_old = true

  // MULTIQC
  multiqc_config = "$baseDir/assets/multiqc"


  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  tmp_dir = "/tmp/${params.timestamp}"
  enable_publish = true
  disable_publish = false
  variant_workflow_type = "match_normal" // pseudobulk, panel_of_normal, somatic_heuristic_filter
  panel_of_normal_vcf = ""

  chrs = ['chr1','chr2','chr3', 'chr4', 'chr5','chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY' ]

  num_lines_split_query_table = 35000
  num_lines_get_list_pos_group = 35000

  // snp_heuristic mode params
  cutoff_as = 140
  cutoff_prop_clipped_reads = 0.5
  cutoff_num_hq_frag = 3
  filter_bp_pos = true
  cutoff_prop_bp = 0.9
  cutoff_sd_indiv = 4
  cutoff_mad_indiv = 0
  cutoff_sd_both = 2
  cutoff_mad_both = 2
  cutoff_sd_extreme = 10 
  cutoff_mad_extreme = 1
  cutoff_depth_manual = 7
  cutoff_numreads_variant_manual = 4
  cutoff_prev_na_manual = 0.3
  cutoff_prev_var_manual = 0.85
  sequoia_cutoff_binomial = -10
  sequoia_cutoff_rho = 0.4
  
  
  //SKIP MODULES
  skip_variant_annotation = true
  skip_gene_coverage = false
  



  // NOTIFICATIONS
  email_on_fail = "viren.amin@bioskryb.com"
}
